<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<table *ngIf="!error"> 
    <td>
            <h4>{{'USERS_LIST' | translate:lang}}</h4>
            <ul class="users">
              <li *ngFor="let user of users" 
              [class.selected]="user === selectedUser"
              (click)="onSelect(user)">
              <span class="badge">{{user.Id}}</span> {{user.Username}}  
              </li>
              <button *ngIf="pageModel.HasPreviousPage" (click)="takePage(-1)" class="btn btn-primary"> {{'PREVIOUS' | translate: lang}} </button>
              <button *ngIf="pageModel.HasNextPage" (click)="takePage(1)" class="btn btn-primary"> {{'NEXT' | translate: lang}} </button>
            </ul>
    </td>
    <td>
            <div *ngIf="selectedUser">
              <h4>{{selectedUser.Username | uppercase}} {{'DETAILS' | translate:lang}}</h4>
              <div><span>id: </span>{{selectedUser.Id}}</div>
              <div>
                <label>{{ 'USERNAME' | translate:lang}}:
                  <input class="username-input" [(ngModel)]="selectedUser.Username" placeholder="username">
                </label><br/>
                {{'ROLE' | translate:lang}}<div>
                    <input type="radio" [(ngModel)]="selectedUser.Role" value="Administrator">
                    {{'ADMINISTRATOR_ROLE' | translate:lang}}<br/>
                    <input type="radio" [(ngModel)]="selectedUser.Role" value="Guest">
                    {{'GUEST_ROLE' | translate:lang}}
                    <br/><button (click)="onSubmit()" class="btn btn-primary">{{'CONFIRM' | translate:lang}}</button>
                </div> 
              </div>
            </div>
    </td>
</table>






