<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <!-- Google web font "Open Sans" -->
</head>


<div class="login">
  <h1>{{ 'LOGIN' | translate:lang }}</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required" class="error-message">{{'USERNAME_REQUIRED_EXP' | translate:lang}}</div>
        </div>
    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="{{'USERNAME' | translate:lang}}" />       

    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required" class="error-message">{{'PASSWORD_REQUIRED_EXP' | translate:lang}}</div>
      </div>
    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="{{'PASSWORD' | translate:lang}}"/>

    <button type="submit" class="btn btn-primary btn-block btn-large">{{'SIGN_IN' | translate:lang}}</button>
    <a [routerLink]="['/register']" class="a a-primary a-block a-large">{{'REGISTER' | translate:lang}}</a>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    <nav class="second-nav">
    <ul class="second-nav-ul">
        <li class="second-nav-item-button">
            <a (click)="ChangeCulture('en','US')" class="second-nav-item-link">{{'LANGUAGE_EN' | 
                translate:lang}}</a>
        </li>
        <li class="second-nav-item-button">
            <a (click)="ChangeCulture('uk','UA')" class="second-nav-item-link">{{'LANGUAGE_UA' | 
                    translate:lang}}</a>
        </li>
      </ul>
    </nav>
  </form>
</div>
