<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <!-- Google web font "Open Sans" -->
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="left-right-container">
                <section *ngIf="currentUser" class="blue-bg left-column">
                    <div class="text-center">
                        <h1 class="site-name">Learning project</h1>
                    </div>
                    <nav class="main-nav">
                        <ul class="main-nav-ul">
                            <li class="nav-item">
                                <a [routerLink]="['/dashboard']" class="nav-item-link">{{ 'NAV_MENU_DASHBOARD' |
                                    translate:lang }}</a>
                            </li>
                            <li class="nav-item">
                                <a [routerLink]="['/users']" class="nav-item-link">{{ 'NAV_MENU_ADMIN_PANEL' |
                                    translate:lang }}</a>
                            </li>
                        </ul>
                    </nav> <!-- top menu -->
                    <nav class="second-nav">
                        <ul class="second-nav-ul">
                            <li class="second-nav-item-button">
                                <a (click)="ChangeCulture('en','US')" class="second-nav-item-link">{{'LANGUAGE_EN' | 
                                    translate:lang}}</a>
                            </li>
                            <li class="second-nav-item-button">
                                <a (click)="ChangeCulture('uk','UA')" class="second-nav-item-link">{{'LANGUAGE_UA' | 
                                        translate:lang}}</a>
                            </li>
                            <li class="second-nav-item">
                                <a [routerLink]="['/login']" class="second-nav-item-link">{{'NAV_MENU_LOGOUT' |
                                    translate:lang}}</a>
                            </li>
                        </ul>
                    </nav> <!-- bottom menu -->
                </section> <!-- left container -->
                <div class="right-column">
                    <router-outlet class="left-column-content"></router-outlet>
                </div> <!-- right-container -->
            </div> <!-- left-right container -->
        </div>
    </div>
</body>

</html>