body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	overflow-x: hidden;
}
a { 
  text-decoration: none;
  transition: all 0.3s ease; 
}
a:hover, a:focus {
	text-decoration: none;
	outline: none;
}
.container { 
  width: 100%;
  height: 100%; 
}
.row { 
  display: block; 
}	
.blue-bg{
  background-color:#4a77d4;
  color: white;
}
.blue-bg a {	
  color: white; 
}
.left-right-container { 
  width: 100%; 
  height: 100%;
}
.left-column{
    left:0;
    top: 0;
		position: fixed; 
    height: 100%;
    width: 15%;
	  overflow-x: hidden;
}
.right-column{
  float: right;
  width: 85%;
  height: 100%;
  overflow-x: hidden;
}
.text-center{
  text-align: center;
}
.site-name{
  height: 10%;
  font-size: 2.4rem;
  font-weight: 500;
	margin-top: 5%;
}
.main-nav{
  vertical-align: top;
  height: 60%;
  display: flex;
	justify-content: center;
}
.main-nav-ul{
  display: inline-block;
	padding-left: 0;
}
.nav-item {
  text-align: center;
  cursor: pointer;
  font-size: 1.5rem;
  list-style: none;
  padding: 18px 30px;
  transition: all 0.3s ease;
}
.nav-item:hover a,
.nav-item:active a,
.nav-item:focus a,
.nav-item-link.active {
	color: #f4ef5e; 
}
.second-nav{
  /* margin-top: 150%; */
  height: 20%;
  vertical-align: bottom;
  display: flex;
	justify-content: center;
}
.second-nav-ul{
  display: inline-block;
  padding-left: 0;
}
.second-nav-item {
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  list-style: none;
  transition: all 0.3s ease;
}
.second-nav-item-button {
  margin: 5px;
  cursor: pointer;
  font-size: 1rem;
  list-style: none;
  display: inline-block;
  transition: all 0.3s ease;
}
.second-nav-item-link {
  cursor: pointer;
  font-size: 1rem;
  list-style: none;
  transition: all 0.3s ease;
}
.second-nav-item:hover a, 
.second-nav-item:active a,
.second-nav-item:focus a,
.second-nav-item-button:hover a,
.second-nav-item-button:active a,
.second-nav-item-button:focus a,
.second-nav-item-link.active{
	color: #f4ef5e;
}
