<div class="row">
  <div class="col-md-3">
    <input type="file" accept="image/*" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
    <button type="button" class="btn btn-primary" (click)="file.click()">{{'UPLOAD_FILE' | translate: lang}}</button>
  </div>
  <div class="col-md-4">
    <div *ngIf="!error">
    <span class="upload" *ngIf="progress > 0">
      {{progress}}%
    </span>
    <span class="upload" *ngIf="message">
      {{message}}
    </span>
    </div>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  </div>
</div>
