<body>    
  <h4>{{'ARTICLE_LIST' | translate:lang}}</h4>
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  <button class="btn btn-primary" (click)="Create = !Create"> {{Create ? 'Cancel' : 'Create new article'}}</button>
  <div class="raw">
      <section class="create" *ngIf="Create">
          <form [formGroup]="articleCreateForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="title">{{'TITLE' | translate:lang}}</label><br/>
              <div *ngIf="submitted && f.Title.errors" class="invalid-feedback">
                  <div *ngIf="f.Title.errors.required" class="error-message">{{'TITLE_REQUIRED_EXP' | translate:lang}}</div>
                </div>
              <input type="text" formControlName="Title" class="input-title" [ngClass]="{ 'is-invalid': submitted && f.Title.errors }">
            </div>
            <div class="form-group">
              <label for="description">{{'DESCRIPTION' | translate:lang}}</label><br/>
              <div *ngIf="submitted && f.Description.errors" class="invalid-feedback">
                  <div *ngIf="f.Description.errors.required" class="error-message">{{'DESCRIPTION_REQUIRED_EXP' | translate:lang}}</div>
                </div>
              <textarea type="text" formControlName="Description" class="input-description"  [ngClass]="{ 'is-invalid': submitted && f.Description.errors }">
            </textarea>
              </div>
            <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
              <div>
                <button type="submit" class="btn btn-primary" > {{'CREATE' | translate: lang}} </button>
              </div>
          </form>
        </section>
  </div>
  <div class="container">
    <div *ngFor="let article of news">
<div class="column">
    
  <!-- Post-->
  <div class="post-module hover">
    <!-- Thumbnail-->
    <div class="thumbnail">
      <div class="date">
        <div class="day">{{article.CreateTime | date : format : "y"}}</div>
      </div>
      <img [src]="article.ImgPath"/>
    </div>
    <!-- Post Content-->
    <div class="post-content">
      <div class="title"> {{article.Title}} </div>
      <h1 class="post-meta"> {{article.Author}} </h1> 
      <!-- <h2 class="sub_title">The city that never sleeps.</h2> -->
      <p class="description">{{article.Description}}</p>
      <!-- <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span></div> -->
    </div>
  </div>
</div>  
</div>
</div>
<button *ngIf="pageModel.HasPreviousPage" (click)="takePage(-1)" class="btn btn-primary"> {{'PREVIOUS' | translate: lang}} </button>
<button *ngIf="pageModel.HasNextPage" (click)="takePage(1)" class="btn btn-primary"> {{'NEXT' | translate: lang}} </button>
</body>