<!-- <h1>Home</h1>
<p>You're logged in with Angular 7 & JWT as {{currentUser.username}}</p>
<div>
  <p><a [routerLink]="['/dashboard']">Dashboard</a></p>
  <p><a [routerLink]="['/users']">List of users</a></p>
</div>
<p><a [routerLink]="['/login']">Logout</a></p> -->
