<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <!-- Google web font "Open Sans" -->
</head>


<div class="register">
    <h1>{{ 'REGISTER' | translate:lang }}</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <div class="error-message" *ngIf="registerForm.get('username').hasError('required') && (registerForm.get('username').dirty || registerForm.get('username').touched)">
                {{ 'USERNAME_REQUIRED_EXP' | translate:lang}}
            </div>
            <div class="error-message" *ngIf="registerForm.get('username').hasError('pattern') && (registerForm.get('username').dirty || registerForm.get('username').touched)">
                    {{ 'USERNAME_PATTERN_EXP' | translate:lang}}
            </div>
        <input type="text" formControlName="username" placeholder= "{{ 'USERNAME' | translate:lang }}" required />

            <div class="error-message" *ngIf="registerForm.get('password').hasError('required') && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                {{'PASSWORD_REQUIRED_EXP' | translate:lang}}
            </div>
        <input type="password" formControlName="password" placeholder="{{ 'PASSWORD' | translate:lang }}" required />

            <div class="error-message" *ngIf="registerForm.get('confirmPass').hasError('required') && (registerForm.get('confirmPass').dirty || registerForm.get('confirmPass').touched)">
                {{'CONFIRM_PASS_REQUIRED_EXP' | translate:lang}}
            </div>
            <div class="error-message" *ngIf="registerForm.get('confirmPass').hasError('MatchPassword') && (registerForm.get('confirmPass').dirty || registerForm.get('confirmPass').touched)">
                    {{'CONFIRM_PASS_MISMATCH_EXP' | translate:lang}}
            </div>
        <input type="password" formControlName="confirmPass" placeholder="{{ 'CONFIRM_PASS' | translate:lang }}" required />

        <button type="submit" class="btn btn-primary btn-block btn-large">{{ 'REGISTER' | translate:lang }}</button>
        <div class="back-button">
        <a [routerLink]="['/login']" class="second-nav-item-link">{{'GO_BACK' | translate:lang}}</a>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </div>
        <nav class="second-nav">
            <ul class="second-nav-ul">
                <li class="second-nav-item-button">
                    <a (click)="ChangeCulture('en','US')" class="second-nav-item-link">{{'LANGUAGE_EN' |
                        translate:lang}}</a>
                </li>
                <li class="second-nav-item-button">
                    <a (click)="ChangeCulture('uk','UA')" class="second-nav-item-link">{{'LANGUAGE_UA' |
                        translate:lang}}</a>
                </li>
            </ul>
        </nav>
    </form>
</div>
